<nav class="navbar navbar-expand-lg border-bottom">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/headerimg@2x.png" class="logo" alt="Home Page" id="open-menu">
  </a>

    <div style="margin-left: calc(20% - 245px);" class="navbar-item active">Dashboard</div>
    <div class="navbar-item"  routerLink="student/s">Applications</div>
    <div class="navbar-item">Documents</div>
</nav>

<div class="d-flex" id="wrapper">
  <div class="border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">


      <div class="filter">
        <div class="input-group mb-2">
          <input type="text" [(ngModel)]="internshipFilters.Title" name="filterTitle" style="padding-left: 10px;border-radius: 10px 0px 0px 10px; border: 1px solid silver;" id="inlineFormInputGroup" placeholder="Search by title">
          <div class="input-group-prepend">
            <div class="input-group-text" style="border-radius: 0px 10px 10px 0px;">
              <fa-icon [icon]="faSearch"></fa-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="filter">
        <span class="ml-2">Domain</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="internshipFilters.Domain" name="filterDomain">
          <option value="">Choose...</option>
          <option>Software Engineering</option>
          <option>Mangement</option>
        </select>
      </div>

      <div class="filter">
        <span class="ml-2">Location</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="internshipFilters.Location" name="filterLocation">
          <option value="">Choose...</option>
          <option>Tunisia</option>
          <option>France</option>
          <option>US</option>
        </select>
      </div>

      <div class="filter">
        <span class="ml-2">Starts before</span>
        <input type="date" class="form-control mr-sm-2" [(ngModel)]="internshipFilters.StartingDate" name="filterStartingDate">
      </div>

      <div class="filter">
        <span class="ml-2">Deadline before</span>
        <input type="date" class="form-control mr-sm-2" [(ngModel)]="internshipFilters.Deadline" name="filterDeadline">
      </div>

      <div class="filter">
        <span class="ml-2">Duration</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="internshipFilters.Duration" name="filterDuration">
          <option>Choose...</option>
          <option>1 Month or less</option>
          <option>Between 1 and 3 months</option>
          <option>More than 3 months</option>
        </select>
      </div>

      <div class="form-check filter">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Show starred only
        </label>
      </div>

      <button class="btn btn-success" style="margin-top: 20px; background-color: #368c95; border: 0px;" (click)="filter()">Filter</button>
    </div>
  </div>



  <div class="content">
    <h3>Recent Posts</h3>
    <div style="margin-top: 50px;">
      <h1 *ngIf="internships.length == 0" style="color: gray;text-align: center;"> No Results Found </h1>
      <div *ngFor="let internship of internships; let i = index" class="internship">
        <div class="internship-preview">
          <img [src]="internship.Company.Logo" style="max-height: 60%; max-width: 60%; margin-left: 50%; transform: translateX(-50%); margin-bottom: 10px;" />
          <h3 style="text-align: center;">{{internship.Company.Name}}</h3>
        </div>
        <div class="internship-info">
          <div class="progress-container" (click)="star(i)">
            <fa-icon *ngIf="isStarred(i)" [icon]="faStar" style="color: gold; font-size: 20px"></fa-icon>
            <fa-icon *ngIf="!isStarred(i)" [icon]="faStar" style="color: silver; font-size: 20px"></fa-icon>
          </div>
          <h2>{{internship.Title}}</h2>
          <h6 class="deadline">Location: {{internship.Location}}</h6>
          <h6 class="deadline">Deadline: {{internship.Deadline|date}} <span style="margin-left: 20px;">Starting Date: {{internship.StartingDate |date}}</span> <span style="margin-left: 20px;">Duration: {{internship.Duration}}</span></h6>
          <div *ngIf="!isDetailedView[i]" class="internship-description">{{internship.Description}}</div>
          <div *ngIf="isDetailedView[i]" class="detailed-internship-description">{{internship.Description}}</div>
          <button *ngIf="!alreadyApplied(i)" class="internship-card-btn" (click)="apply(i)">Apply</button>
          <button *ngIf="alreadyApplied(i)" class="internship-card-btn" style="background-color: #218838" disabled><fa-icon [icon]="faCheck"></fa-icon> Applied</button>
          <fa-icon style="display: inline-block;margin-top: 20px;margin-left: calc(50% - 80px);color: gray;font-size: 120%;" *ngIf="!isDetailedView[i]" [icon]="faDetails" (click)="toggleDetails(i)"></fa-icon>
          <fa-icon style="margin-left: calc(50% - 80px);color: gray;font-size: 120%;" *ngIf="isDetailedView[i]" [icon]="faDetailsOff" (click)="toggleDetails(i)"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>


