.navbar {
  padding: 0;
  background-color: rgb(2,139,149);
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 100%;
  padding: 0;
  width: 217px;
}

.nav-item > a {
  color:white;
}


#sidebar-wrapper {
  width: 20%;
  height: 100%;
  background-color: white;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

#wrapper {
  height: calc(100% - 63px);
}

.filter {
  margin-top: 20px;
}

