.navbar {
  padding: 0;
  background-color: rgb(2,139,149);
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 100%;
  padding: 0;
  width: 217px;
}

.nav-item > a {
  color:white;
}

@media (min-width: 768px) {
  tr td {
    vertical-align: middle !important;
  }
  tr span:not([class]) {
    padding: 1rem 1rem;
  }
}

