<nav class="navbar navbar-expand-lg border-bottom">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/headerimg@2x.png" class="logo" alt="Home Page" id="open-menu">
  </a>

  <div style="margin-left: calc(20% - 245px);" class="navbar-item active">Dashboard</div>
  <div class="navbar-item"  routerLink="student/s">Applications</div>
  <div class="navbar-item">Documents</div>
</nav>

<div class="d-flex" id="wrapper">
  <div class="border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">


      <div class="filter">
        <div class="input-group mb-2">
          <input type="text" [(ngModel)]="internshipFilters.Title" name="filterTitle" style="padding-left: 10px;border-radius: 10px 0px 0px 10px; border: 1px solid silver;" id="inlineFormInputGroup" placeholder="Search by title">
          <div class="input-group-prepend">
            <div class="input-group-text" style="border-radius: 0px 10px 10px 0px;">
              <fa-icon [icon]="faSearch"></fa-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="filter">
        <span class="ml-2">Domain</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="internshipFilters.Domain" name="filterDomain">
          <option value="">Choose...</option>
          <option>Software Engineering</option>
          <option>Mangement</option>
        </select>
      </div>

      <div class="filter">
        <span class="ml-2">Location</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="internshipFilters.Location" name="filterLocation">
          <option value="">Choose...</option>
          <option>Tunisia</option>
          <option>France</option>
          <option>US</option>
        </select>
      </div>

      <div class="filter">
        <span class="ml-2">Starts before</span>
        <input type="date" class="form-control mr-sm-2" [(ngModel)]="internshipFilters.StartingDate" name="filterStartingDate">
      </div>

      <div class="filter">
        <span class="ml-2">Deadline before</span>
        <input type="date" class="form-control mr-sm-2" [(ngModel)]="internshipFilters.Deadline" name="filterDeadline">
      </div>

      <div class="filter">
        <span class="ml-2">Duration</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="internshipFilters.Duration" name="filterDuration">
          <option>Choose...</option>
          <option>1 Month or less</option>
          <option>Between 1 and 3 months</option>
          <option>More than 3 months</option>
        </select>
      </div>

      <div class="form-check filter">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="internshipFilters.HideArchived">
        <label class="form-check-label" for="defaultCheck1">
          Hide Archived
        </label>
      </div>

      <button class="btn btn-success" style="margin-top: 20px; background-color: #368c95; border: 0px;" (click)="filter()">Filter</button>
    </div>
  </div>


  <div class="content">
    <button class="btn btn-success" style="margin-bottom: 30px;" data-toggle="modal" data-target="#createModal">
      <fa-icon [icon]="faAdd"></fa-icon> Add new internship
    </button>

    <h3>Recent Posts</h3>
    <div style="margin-top: 50px;">
      <h1 *ngIf="internships.length == 0" style="color: gray;text-align: center;"> No Results Found </h1>
      <div *ngFor="let internship of internships; let i = index" [ngClass]="{'disabled': internship.IsArchived}" (click)="toggleDetails(i)" class="internship">
        <div class="internship-preview">
          <img [src]="internship.Company.Logo"
               style="max-height: 60%; max-width: 60%; margin-left: 50%; transform: translateX(-50%); margin-bottom: 10px;"/>
          <h3 style="text-align: center;">{{internship.Company.Name}}</h3>
        </div>
        <div class="internship-info">
          <div *ngIf="!internship.IsArchived" class="progress-container" data-toggle="modal" data-target="#editModal"
               (click)="selectForEdit(i)">
            <fa-icon [icon]="faPen" style="color: silver; font-size: 20px; cursor: pointer"></fa-icon>
          </div>
          <h2>{{internship.Title}}</h2>
          <h6 class="deadline">Location: {{internship.Location}}</h6>
          <h6 class="deadline">Deadline: {{internship.Deadline|date}} <span style="margin-left: 20px;">Starting Date: {{internship.StartingDate |date}}</span> </h6>
          <div *ngIf="!isDetailedView[i]" class="internship-description">{{internship.Description}}</div>
          <div *ngIf="isDetailedView[i]" class="detailed-internship-description">{{internship.Description}}</div>
          <button *ngIf="internship.IsArchived" class="internship-card-btn" (click)="restore(i)">Restore</button>
          <button *ngIf="!internship.IsArchived" class="internship-card-btn" (click)="archive(i)">Archive</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Creation Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog"
     aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Edit Internship Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="createTitle">Title</label>
            <input type="text" [(ngModel)]="createdInternship.Title" name="Title" class="form-control" id="createTitle" placeholder="Title">
          </div>

          <div class="form-group">
            <label for="createDomain">Domain</label>
            <select class="custom-select mr-sm-2" id="createDomain" [(ngModel)]="createdInternship.Domain" name="Domain">
              <option>Choose...</option>
              <option>Software Engineering</option>
              <option>Mangement</option>
            </select>
          </div>

          <div class="form-group">
            <label for="createCompany">Company</label>
            <select class="custom-select mr-sm-2" [(ngModel)]="createdInternship.Company" name="Company" id="createCompany">
              <option *ngFor="let company of companies" [ngValue]="company">{{company.Name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="createDescription">Description</label>
            <textarea type="text" [(ngModel)]="createdInternship.Description" name="Description" class="form-control" id="createDescription" placeholder="Description"></textarea>
          </div>

          <div class="form-group">
            <label for="createLocation">Location</label>
            <select class="custom-select mr-sm-2" name="Location" id="createLocation" [(ngModel)]="createdInternship.Location">
              <option>Choose...</option>
              <option>Tunisia</option>
              <option>France</option>
              <option>US</option>
              <option>UK</option>
            </select>
          </div>

          <div class="form-group">
            <label for="createDuration">Duration</label>
            <input type="text" [(ngModel)]="createdInternship.Duration" name="Duration" class="form-control" id="createDuration" placeholder="Duration">
          </div>

          <div class="form-group">
            <label for="createDeadline">Deadline</label>
            <input type="date" [ngModel]="createdInternship.Deadline| date:'yyyy-MM-dd'" (ngModelChange)="createdInternship.Deadline = $event" name="Deadline" class="form-control" id="createDeadline" placeholder="Deadline">
          </div>

          <div class="form-group">
            <label for="createStartingDate">Starting Date</label>
            <input type="date" [ngModel]="createdInternship.StartingDate| date:'yyyy-MM-dd'" (ngModelChange)="createdInternship.StartingDate = $event" name="StartingDate" class="form-control" id="createStartingDate" placeholder="StartingDate">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="create()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Editing modal -->
<div *ngIf="editedInternship" class="modal fade" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Internship Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="editTitle">Title</label>
            <input type="text" [(ngModel)]="editedInternship.Title" name="Title" class="form-control" id="editTitle" placeholder="Title">
          </div>

          <div class="form-group">
            <label for="editDomain">Domain</label>
            <select class="custom-select mr-sm-2" id="editDomain" [(ngModel)]="editedInternship.Domain" name="Domain">
              <option>Choose...</option>
              <option>Software Engineering</option>
              <option>Mangement</option>
            </select>
          </div>

          <div class="form-group">
            <label for="editCompany">Company</label>
            <select class="custom-select mr-sm-2" [(ngModel)]="editedInternship.Company" name="Company" id="editCompany">
              <option *ngFor="let company of companies" [ngValue]="company">{{company.Name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="editDescription">Description</label>
            <textarea type="text" [(ngModel)]="editedInternship.Description" name="Description" class="form-control" id="editDescription" placeholder="Description"></textarea>
          </div>

          <div class="form-group">
            <label for="editLocation">Location</label>
            <select class="custom-select mr-sm-2" name="Location" id="editLocation" [(ngModel)]="editedInternship.Location">
              <option>Choose...</option>
              <option>Tunisia</option>
              <option>France</option>
              <option>US</option>
              <option>UK</option>
            </select>
          </div>

          <div class="form-group">
            <label for="editDuration">Duration</label>
            <input type="text" [(ngModel)]="editedInternship.Duration" name="Duration" class="form-control" id="editDuration" placeholder="Duration">
          </div>

          <div class="form-group">
            <label for="editDeadline">Deadline</label>
            <input type="date" [ngModel]="editedInternship.Deadline| date:'yyyy-MM-dd'" (ngModelChange)="editedInternship.Deadline = $event" name="Deadline" class="form-control" id="editDeadline" placeholder="Deadline">
          </div>

          <div class="form-group">
            <label for="editStartingDate">Starting Date</label>
            <input type="date" [ngModel]="editedInternship.StartingDate| date:'yyyy-MM-dd'" (ngModelChange)="editedInternship.StartingDate = $event" name="StartingDate" class="form-control" id="editStartingDate" placeholder="StartingDate">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="saveEdit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
